<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.dao.CourseMapper">
    <insert id="addCourse" parameterType="Course">
        insert into course (CourseName,Credit) values(#{CourseName},#{Credit})
    </insert>
    <delete id="deleteCourse" parameterType="int">
        delete from course where CourseId=#{id}
    </delete>
    <update id="updateCourse" parameterType="Course">
        update course set CourseName=#{CourseName},Credit=#{Credit} where CourseId=#{CourseId}
    </update>
    <select id="queryCourseById" parameterType="int" resultType="Course">
        select * from course where CourseId=#{id}
    </select>
    <select id="queryCourseAll" resultType="Course">
        select * from course
    </select>
</mapper>