<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.dao.GradeMapper">
    <insert id="addGrade" parameterType="Grade">
        insert into grade values(#{id},#{CourseId},#{Mark})
    </insert>
    <delete id="deleteGrade">
        delete from grade where CourseId=#{CourseId} and id=#{id}
    </delete>
    <update id="updateGrade" parameterType="Grade">
        update grade set Mark=#{Mark} where CourseId=#{CourseId} and id=#{id}
    </update>
    <select id="queryGradeById" parameterType="Grade" resultType="Grade">
        select * from grade where id=#{id} and CourseId=#{CourseId}
    </select>
    <select id="queryGradeAll" resultType="Grade">
        select * from grade
    </select>
    <select id="queryAllMessage" resultType="AllMessage">
        SELECT student.department.DepartmentId,student.department.DepartmentName,student.student.classId,student.class.className,student.student.id,student.student.name,student.grade.CourseId,student.course.CourseName,student.course.Credit,student.grade.Mark
        FROM student.grade
        INNER join student.student
        on student.grade.id=student.student.id
        INNER join student.class
        on  student.student.classId=student.class.classId
        INNER join student.course
        on  student.course.CourseId=student.grade.CourseId
        INNER join student.department
        on  student.department.DepartmentId=student.class.DepartmentId;
    </select>
</mapper>