<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.dao.StudentMapper">

    <insert id="addStudent" parameterType="Student">
        insert into student VALUES(#{id},#{name},#{classId})
    </insert>
    <delete id="deleteStudentById" parameterType="String">
        delete from student where 学号=#{id}
    </delete>
    <update id="updateStudent" parameterType="Student">
        update student set 姓名=#{name},班级号=#{classId} where 学号=#{id}
    </update>
    <select id="queryStudentById" parameterType="String" resultType="Student">
        select * from student where 学号=#{id}
    </select>
    <select id="queryStudentAll" resultType="Student">
        select * from student
    </select>
</mapper>